<div class="jumbotron logo" style=" background-color: #f8f9fa;" >
    <img src="../../assets/images/Logo/logo.png" alt="">  
    <!-- <h1>Malik Stone Service</h1> -->
</div>
                                    <!-- Navbar 1 -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="margin: 0px;">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav header-options color-class ">
        <li class="nav-item color-class">
          <a class="nav-link active" style="color: rgb(247, 119, 140);" routerLink="">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink='/about' style="color: rgb(247, 119, 140);">About</a> 
        </li>            
        <li class="nav-item">
          <a class="nav-link"routerLink="/contact" style="color: rgb(247, 119, 140);">Contact</a> 
        </li>
     

        <li class="nav-item dropdown">
          <a class="nav-link color-class dropdown-toggle" href="#"  data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: rgb(247, 119, 140);">Salt Products
          </a>
          <div class="dropdown-menu  salt-products-in-navbar products-size-setting" aria-labelledby="navbarDropdownMenuLink-555">
            <a class="dropdown-item "  routerLink="/licksalt">Lick Salt</a>
            <a class="dropdown-item " routerLink="/ediblesalt">Edible Salt</a>
            <a class="dropdown-item" routerLink="/culnarysalt">Culinary Salt</a>
            <a class="dropdown-item" routerLink="/saltlamps">Salt Lamps</a>
            <a class="dropdown-item" routerLink="aromatherapy">Aromatherapy</a>
            <a class="dropdown-item" routerLink="/salttiles">Salt Tiles</a>
            
            
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink='/blog' style="color: rgb(247, 119, 140);">Blog</a> 
        </li>
      </ul>
    </div>  
  </nav>