<!-- Footer -->
<footer class="page-footer font-small unique-color-dark footer-setting">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5 footer-setting">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4  footer-setting">
          <!-- Content -->
          <!-- <h6 class="text-uppercase font-weight-bold">Malik Stone Service</h6> -->
          <img src="../../assets/images/Logo/logo.png" alt="">
          <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
          <p style="margin-top:40px"> "We believe that A brand for a Company is like a reputation for a person."</p>
          <!-- we had gone through a lot to make our name as a prominent brand in this field and we will do our best to keep this reputation, So feel free to contact us and be the part of our journey, we’ll never disappoint you and assure you the products you have dreamed off -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 footer-setting">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Quick-Links</h6>
          <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
          <p> <a href="">Home</a> </p>
          <p> <a routerLink="/blog">Blog</a> </p>
          <p> <a href="#products">Products</a> </p>
          <p> <a routerLink="/contact">Contact</a> </p>
          <p><a routerLink="/about">About</a></p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4  footer-setting">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact Information</h6>
          <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
          <h3 style="color:black;"><span class="glyphicon glyphicon-map-marker">&nbsp;</span>Office Adress</h3>
          <p> 17-A,Ferozpur Road Lahore,Pakistan</p>
          <h3 style="color:black;"><span class="glyphicon glyphicon-phone">&nbsp;</span>Call Us</h3>
          <p>+92 322 8041901</p> 
          <p>+92 300 9428381</p> 
          <h3 style="color: black;"><span class="glyphicon glyphicon-envelope">&nbsp;</span>For Any Information</h3>
          <p>info@malikstone.com</p>
          <h3 style="color: black;"><span class="glyphicon glyphicon-envelope">&nbsp;</span>For Placement of Order</h3>
          <p>sales@malikstone.com</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div> -->
    <!-- Copyright -->
  </footer>
  <!-- Footer -->