<div class="container-fluid"  style="padding: 0px">
    <div class="image-setting-main">
        <img src="../../assets/images/sub header images/about header.jpg" alt="">
    </div>
</div>
                    <!---->
 <div class="container content-container">
    <div class="row">
       <div class="col-md-12 paragrapgh">
                <!-- <h1>Our Story</h1> -->
            <p style="padding:5px">    We feel delighted to announce our Malik Stone Service  as the best manufacturer and exporter of Pink Himalayan salt since 1978, the products made by us are at moderate prices. We founded Malik Stone Service out of pure affection
                    We have expanded our presence to over 60+ different countries. Currently and and our long list of satisfied clients is a proof of our success  Since the day we have taken this initiative, we have become the masters of our own craft.</p>
            <p style="padding-top:0px"> There is no room of a single doubt about the authenticity   Malik Stone Service premium quality Himalayan Rock Salt products.</p>
            <p style="padding-top:0px">Malik Stone Service , is the right spot if you are in search of a reliable Manufacturer & Supplier of Himalayan Rock Salt Products. Whether you are an importer, wholesaler or a brand, you can rely on us to bring you the best.
                </p>
        </div>
    </div>
</div>

<div class="container-fluid images-container" >
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="image-setting">
                <img id="rcorners1" src="../../assets/images/about/about.jpg" alt="">
            </div>
        </div>
        
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="image-setting">
                <img id="rcorners1" src="../../assets/images/about/about2.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="image-setting">
                <img id="rcorners1" src="../../assets/images/about/about3.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row " style="margin-top:10px;">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="image-setting">
                <img id="rcorners1" src="../../assets/images/about/about4.jpg" alt="">
            </div>
        </div>
        
</div>

<!--         
        <div class="col-md-6" >
        
        </div> -->