<div class="container-fluid"  style="padding: 0px">
    <div class="image-setting-main">
        <img src="../../assets/images/sub header images/about header.jpg" alt="">
    </div>
</div>
                    <!---->
 <div class="container-fluid" style="margin-top:20px">
    <div class="row">
        
            
        
        <div class="col-md-6 paragrapgh">
                <h1>Our Story</h1>
            <p style="padding:5px">    We feel delighted to announce our Malik Stone Services  as the best manufacturer and exporter of Pink Himalayan salt since 1978, the products made by us are at moderate prices. We founded Malik Stone Services out of pure affection
                    We have expanded our presence to over 60+ different countries. Currently and and our long list of satisfied clients is a proof of our success  Since the day we have taken this initiative, we have become the masters of our own craft.</p>
            <p style="padding-top:0px"> There is no room of a single doubt about the authenticity   Malik Stone Services premium quality Himalayan Rock Salt products.</p>
        </div>
        <div class="col-md-6" >
            <div class="image-setting">
                <img src="../../assets/images/about/about.jpg" alt="">
            </div>
        </div>
        
    </div>
</div>