<!--- images container-->
<div class="container-fluid image-setting" style="padding: 0px"> 
	<div class="image-setting">
		<img src="../../assets/images/lick-salt-main-image.jpg" alt="">
   </div> 
</div>
<!-- Descriptiop-->
<div class="container description-setting" style="margin-top: 50px;border-bottom: 2px solid rgb(163, 160, 160);">
	<h1>  Animal Lick Salt </h1>
	<p>Salt is considered to be the most important mineral required for wildlife, pets, and all land animals, yet its importance is often overlooked in favor of other important minerals. Animals have a natural appetite for salt, and this ensures that they do not suffer from malnutrition and have properly working immune and reproductive systems. For that matter Ittefaq Salt brings Himalayan pink salt which is an essential part of their nutrition and just like any other nutritional deficiency, when an animal’s salt requirement is not met health consequences develop over time. That’s why we offer Himalayan Pink Salt Licks, it is a natural and pure salt needed for the proper development and maintenance of bones, muscles, circulatory systems and even the nervous systems of animals.</p>
	<p> We’re Manufacturer and Supplier of Himalayan Pink Salt Licks for Horses, Deers & Cattles. This Himalayan salt contains 84 minerals including magnesium, iron, and potassium that are essential for healthy wildlife. The pink color of this salt indicates the high mineral content. We provide the chemical free Pink Salt suitable for deer’s, horses, cows, and almost all animals. </p>
	<p> Ittefaq Salt provides animal lick salt in different shapes and sizes. Natural salt blocks or it can be provided in chunks. Salt chunks can be mixed in animal feed for the balanced nutrition. Salt blocks are hanged with ropes to prevent from wastage. Animal salt licks provided by Ittefaq Salt has the ability to preserve for a long term. </p>
</div>
<!--- lick-qualities-->
<div class="container" style="margin-top: 30px">
	<div class="row">
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/lick salt/lick-salt-1.png" alt=""> </div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/lick salt/lick-salt-2.png" alt=""> </div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/lick salt/lick-salt-3.png" alt=""> </div>
	</div>
	<div class="row" style="margin-top:30px ;">
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/lick salt/lick-salt-4.png" alt=""> </div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/lick salt/lick-salt-5.png" alt=""> </div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/lick salt/lick-salt-6.png" alt=""> </div>
	</div>
</div>
<!-- Table-->
<div class="container table-container">
	<table class="table ">
		<thead>
			<tr class="info">
				<th>Articles</th>
				<th>Lick Salt</th>
				<th>Weight</th>
				<th>Size</th>
				<th>Packing</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>LS-1300</td>
				<td>Square</td>
				<td>1.2kg</td>
				<td>10*11 cm</td>
				<td>12 pcs</td>
			</tr>
			<tr>
				<td>LS-1301</td>
				<td>Cylinder</td>
				<td>1.2kg</td>
				<td>10*11 cm</td>
				<td>12 pcs</td>
			</tr>
			<tr>
				<td>LS-1302 A</td>
				<td>Natural Cylinder</td>
				<td>1-1.2kg</td>
				<td>10*12 cm</td>
				<td>12 pcs</td>
			</tr>
			<tr>
				<td>LS-1302 B</td>
				<td>Natural Cylinder</td>
				<td>2-3kg</td>
				<td>10*15 cm</td>
				<td>8pcs</td>
			</tr>
			<tr>
				<td>LS-1302 C</td>
				<td>Natural Cylinder</td>
				<td>3-4kg</td>
				<td>12*15 cm</td>
				<td>6pcs</td>
			</tr>
			<tr>
				<td>LS-1302 D</td>
				<td>Natural Cylinder</td>
				<td>4-5kg</td>
				<td>12*18 cm</td>
				<td>4pcs</td>
			</tr>
			<tr>
				<td>LS-1302 E</td>
				<td>Natural Cylinder</td>
				<td>5-6kg</td>
				<td>15*20 cm</td>
				<td>4pcs</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-6">
			<h1>On Demand</h1>
			<ul class="description-setting">
				<li>Any shape and size can be produced on customer demand</li>
				<li>Private labels and Packing are available</li>
			</ul>
		</div>
	</div>
</div>