                                                        
                                                        <!--- images container-->

<div class="container-fluid image-setting" style="padding: 0px">
    <div class="image-setting">
        <img src="../../assets/images/sub header images/lamp.jpg" alt="">
    </div>
</div>

                                                            <!-- Descriptiop-->
<div class="container description-setting" >
    <h1 class="color-class">  Salt Lamps</h1>
    <p>Malik Stone Service offers the best crafted salt lamps. We have the unique styled hand carved salt lamps, these lamps are carved from the purest of the Pink salt. Size, color, weight and shape will vary. Combined with a light source inside the lamps, the chunks of salt produce negative ions, which yield positive effects on indoor air. In addition to enhance the beauty of your room these lamps serve other handful purposes which are as follows:</p>
    <ul>
        <li>Cleanse & Deodorize the Air</li>
        <li>Reduce Allergy and Asthma symptoms</li>
        <li>Increase energy levels</li>
        <li>Neutralize Electromagnetic  Radiation</li>
        <li>Better Sleep</li>
        <li>Reduce Static Electricity in the Air</li>
        <li>Environment Friendly Source</li>
        <li>Ease Coughing</li>
    </ul>
    <p>Malik Stone Service claims to provide you the best salt lamps in Pakistan and will get you, your desired shape in its finest form. We are here to create things you wish existed, just feel free to contact us and share your desire, We are here to see it and fulfill it as soon as possible.
    </p>
</div>
    
                                                        <!--- lick-qualities-->

<div class="container"style="margin-top: 30px">
    <div class="row">
        <div class=" col-md-3 quality-image-setting" >
           <img src="../../assets/images/salt lamps/salt-lamp-1.png" alt="">
        </div> 
        <div class=" col-md-3 quality-image-setting" >
            <img src="../../assets/images/salt lamps/salt-lamp-2.png " alt="">
         </div> 
         <div class=" col-md-3 quality-image-setting" >
            <img src="../../assets/images/salt lamps/salt-lamp-3.png" alt="">
         </div> 
     </div>
     <div class="row" style="margin-top:30px ;">
        <div class=" col-md-3 quality-image-setting" >
            <img src="../../assets/images/salt lamps/salt-lamp-4.png" alt="">
         </div> 
         <div class=" col-md-3 quality-image-setting" >
            <img src="../../assets/images/salt lamps/salt-lamp-5.png" alt="">
         </div> 
         <div class=" col-md-3 quality-image-setting" >
            <img src="../../assets/images/salt lamps/salt-lamp-6.png" alt="">
         </div> 
     </div>
</div>

                                                            <!-- Table-->
<div class="container table-container" >
    <table class="table ">
        <thead>
            <tr class="info">
                <th>Article No#</th>
                <th>Shapes</th>
                <th>Weight</th>
                <th>Packing</th>
            </tr>
      </thead>
        <tbody>
        <tr>
            <th>NSL-100-</th>
            <th>Natural Shaped Salt Lamps</th>
            <th>1-50kg</th>
            <th>All Available Depending on Weights</th>
        </tr> 
        <tr>
            <th>NSL-300-</th>
            <th>Figure Shaped Salt Lamps</th>
            <th>2-3kg , 3-4kg</th>
            <th>4pcs, 6pcs, 2pcs</th>
        </tr>      
        <tr>
            <th>USB-400-</th>
            <th>USB Salt Lamps</th>
            <th>0.3-0.6kg</th>
            <th>24pcs</th>
        </tr>      
        <tr>
            <th>NLP-500-</th>
            <th>Night Light lamps</th>
            <th>400 gr</th>
            <th>24pcs</th>
        </tr>      
        
        </tbody>
    </table>
    <div class="row">
		<div class="col-md-6">
			<h1 class="color-class">On Demand</h1>
			<ul class="demand-module">
				<li>Any shape and size can be produced on customer demand</li>
				<li>Private labels and Packing are available</li>
			</ul>
		</div>
	</div>
</div>




