<div class="container">
        <div class="row" style="border-bottom:2px solid black;">
            <h1>Himalyan Blogs</h1> </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12 blog-setting">
                <div class="img-hover-box">
                     <img src="../../assets/images/blog page/blog-image.png" alt="">
                </div>
                <!-- date and no of comments   dynamically backedn -->
                <h1>
                  Himalayan salt Vs Celtic sea salt
                </h1>
                <p> Being the integral part of every kitchen salt maintains its demand around the globe in any sort of dish and its absence is felt way more quicker than its presence. With increase in demand , variety of salts can be seen in the market. </p>
                <p> So how do we know which one is better ? First off all the most of the salts which we  go through in the market are made up Sea Salt. There are two major types of salts Sea Salt or Himalayan Salt, we’ll discuss as </p>
                <h2>which one is better for our health ?</h2>
                <p>Sea Salt is extracted from seawater or the remnants of the sea water WhereasHimalayan salt is extracted from the khewra salt mines located at the foothills of the Himalayan mountain ranges falling in Punjab, a province of Pakistan. These salt mines are a result of massive sea evaporation that took place many million years ago.</p> 
                
            </div>
            <!-- <div class="col-md-12"> <img src="../../assets/images/celtic vs himalian salt.jpg" alt=""> </div> -->
            <div class="col-md-12 blog-setting">
                <h1>Difference b/w Himalayan Pink Salt & Celtic Sea Salt :
                </h1>
                <ul>
                    <li>Himalayan Pink Salt is of  Pink color with unique hues of orange and celtic sea salt is of light grey color with subtle hues of purple color.</li>
                    <li>Himalayan salt contains 84 trace minerals whereas celtic sea salt contains just 34 trace minerals in its purest form, some are added in purifying process.               </li>
                    <li>Himalayan salt  contains 0.026% residual moisture whereas celtic sea salt contains 13% of moisture.</li>
                    <li>Himalayan salt has 98% of soium chloride and celtic sea salt contains 33% sodium ,50.9% chloride.</li>
                    <li>Himalayan salt is used in its purest form so the minerals remain intact while Celtics sea salt lost its minerals while purification purpose.</li>
                    <li>Himalayan salt contains natural Iodine while artificial iodine  is added in sea salt.</li>
                </ul>
                <!-- <p class="text-primary" style="font-size: 20px;margin-top: 50px;"> b) Health benefits of Celtic sea salt </p>
                <p> Celtic sea salt has many healing benefits because it helps to balance out minerals in the human body. It also helps in: </p>
                <ul>
                    <li> Boosting the immune system</li>
                    <li>Lowering down and normalizes acidic levels</li>
                    <li>Preventing muscle cramps</li>
                    <li>Controlling the production of saliva </li>
                    <li>Stabilizing blood sugar</li>
                </ul>
                <p class="text-primary" style="font-size: 20px;margin-top: 50px;"> c) Uses of Himalayan salt </p>
                <p> There are numerous ways the Himalayan salt can be used to reap its benefits. Some of these uses are: </p>
                <ul>
                    <li> <span class="text-primary">   Air purifiers:</span> The salt lamps are used as air purifiers. These salt lamps attract moisture from the air. Along with the moisture, allergens, pollens, dust, and dander are also attracted and locked inside the lamp.</li>
                    <li> <span class="text-primary">   Salt Sole:</span> A concentrated mixture of salt and water is consumed and is called sole. It is known for many health benefits. </li>
                    <li> <span class="text-primary">   Air purifiers:</span> It can be used in cooking, serving and grilling as a salt block/plate in the kitchen </li>
                    <li> <span class="text-primary">   Salt Inhalers:</span> Himalayan salt inhalers are used for curing chronic respiratory ailments. </li>
                </ul>
                <p class="text-primary" style="font-size: 20px;margin-top: 50px;"> d) Uses of Celtic sea salt: </p>
                <p> Celtic sea salt vital mineral blend makes it very useful in a variety of ways: </p>
                <ul>
                    <li> If you are suffering from congestion in your lungs and stuffy nose, take Celtic sea salt before going to bed for sound sleep. You will wake up with clear nasal passage and fresh breathe. </li>
                    <li> If you suffer from bloating and water retention, consider taking Celtic sea salt before going to bed. It will surely relieve you of these symptoms. </li>
                    <li> To cure your wounds soak yourself in a Celtic sea salt bath. </li>
                </ul> -->
            </div>
        </div>
    </div>
    <!-- clientComments -->
    <div class="container">
        <div class="row" style="border-top: 2px solid black;">
            <h1>Comments</h1>
            <div class="col-md-12 commentSection" *ngFor="let index of allComments" style="border-top: 1px solid black;">
                <h3> <span class="glyphicon glyphicon-user" style="padding-right: 30px;"></span>{{index.clientName}}</h3>
                <p>{{index.clientComment}}</p>
            </div>
        </div>
    </div>
    <!-- comment secxtion -->
    <div class="container" style="border-top: 2px solid black; margin-top: 30px;">
        <div class="row">
            <div class="col-md-12">
                <h2>Customer Reviews</h2>
                <form action="" [formGroup]="formObject">
                    <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-xs-4">
                            <input class="form-control" placeholder="Enter Name*" type="text" [(ngModel)]="name" formControlName='fName'> </div>
                        <div class="col-xs-4">
                            <input class="form-control" placeholder="Enter Email*" type="email" [(ngModel)]="email" formControlName='mail'> </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" [(ngModel)]="comment" formControlName='comm'></textarea>
                    </div>
                    <button class="btn btn-primary btn-large" (click)="sendComment()" [disabled]="!formObject.valid">Send Comment</button>
                </form>
            </div>
        </div>
    </div>