<!--- images container-->
<div class="container-fluid image-setting" style="padding: 0px"> 
	<div class="image-setting">
		<img src="../../assets/images/sub header images/salt tiles 2020.jpg" alt=""> 
	</div>
</div>
	<!-- Descriptiop-->
<div class="container description-setting" style="margin-top: 50px;border-bottom: 2px solid black;">
	<h1>  Salt Tiles</h1>
	<p>Pink Himalayan Salt Walls are bit trendy now a days, they will provide a boost to the beauty of your houses. In addition to just beauty, these walls are source for purified air and atmosphere of house as Pink Salt contains more than 84 minerals. These salt walls are now become healthy source of home décor and Malik Stone Services provides you this opportunity to design your house in not just unique but a healthy way too. We are providing any size or any shape of these salt tiles to meet the demands of our client n a healthy way. Himalayan salt maintains the positivity in the atmosphere and gives health boosting effects. </p>
	<p> These salt bricks are being used in spas and yoga rooms abroad to create a soothing environment but considering the benefits of Pink Salt bricks these bricks are used in Pakistan not only in spas, gyms or yoga rooms but are also used for domestic purposes such as houses and in restaurants to make environment lovely.</p>
	<p>Malik stone services is also offering various other products made up of pure Himalayan salt, which offers the purpose of various home decoration pieces and full fill the desire of decorating your house according to your own desire in a unique or healthy way. There stands no single doubt about the quality we offer, you will have the excellent quality of bricks and other home décor containing all the prerequisites of Himalayan Salt. </p>
</div>
<!--- lick-qualities-->
<div class="container" style="margin-top: 30px">
	<div class="row">
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/Salt Tiles/salt-tile-1.png" alt=""> </div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/Salt Tiles/salt-tile-2.png" alt=""> </div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/Salt Tiles/salt-tile-3.png" alt=""> </div>
	</div>
	<div class="row" style="margin-top:30px ;">
		<div class=" col-md-3 align-self-center quality-image-setting"> <img src="../../assets/images/Salt Tiles/salt-tile-4.png" alt=""> </div>
		<!-- <div class=" col-md-3 quality-image-setting" >
            <h1>CYLINDER</h1>  
            <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>  
        </div>
        <div class=" col-md-3 quality-image-setting" >
            <h1>CIRCLE</h1>  
            <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>  
        </div> --></div>
</div>
<!-- Table-->
<div class="container" style="margin-top: 100px;">
	<table class="table table-bordered">
		<thead>
			<tr class="info">
				<th>Article No#</th>
				<th>Shapes</th>
				<th>Size</th>
				<th>Weight</th>
				<th>Packing</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>BM-1200</th>
				<th>Salt Tile</th>
				<th>8*12*1.5 inch</th>
				<th>4kg</th>
				<th>8Pcs</th>
			</tr>
			<tr>
				<th>BM-1201</th>
				<th>Salt Tile</th>
				<th>8*12*2 inch</th>
				<th>2.2kg</th>
				<th>12Pcs</th>
			</tr>
			<tr>
				<th>BM-1202</th>
				<th>Salt Tile-One Side Rough</th>
				<th>8*14*2 inch</th>
				<th>2kg</th>
				<th>12Pcs</th>
			</tr>
			<tr>
				<th>BM-1203</th>
				<th>Salt Tile</th>
				<th>8*4*1 inch</th>
				<th>1.1kg</th>
				<th>24Pcs</th>
			</tr>
			<tr>
				<th>BM-1204</th>
				<th>Salt Tile Square</th>
				<th>8*8*2 inch</th>
				<th>4.2kg</th>
				<th>6Pcs</th>
			</tr>
			<tr>
				<th>BM-1205</th>
				<th>Salt Tile Round</th>
				<th>8*8*2 inch</th>
				<th>4.5kg</th>
				<th>6Pcs</th>
			</tr>
		</tbody>
	</table>
</div>