
<div class="container-fluid" style="padding: 0px;">
		  
		<div id="myCarousel" class="carousel slide " data-ride="carousel" >
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>
	  
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner slider">
			<div class="item active">
			  <img src="../../assets/images/slider/title-1.jpg" alt="Los Angeles" style="width:100%;">
			</div>
	  
			<div class="item">
			  <img src="../../assets/images/slider//title-2.jpg" alt="Chicago" style="width:100%;">
			</div>
		  
			<div class="item">
			  <img src="../../assets/images/slider/title-3.jpg" alt="New york" style="width:100%;">
			</div>
		  </div>
	  
		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		  </a>
		</div>
	  </div>
	  

					<!-- Sub Header Image Home Page-->
<!-- <div class="container-fluid " style="padding:0px 0px;">
	<div class="img-setting"> <img src="../../assets/images/salt edit.jpg" alt=""> </div> -->
	 <!-- <img src="../../assets/images/home-page-image -of-salt.JPG" alt=""> 
 </div>   -->

<!-- Welcome 3-->
<div class="container-fluid ">
	<div class="row">
		<div class="col-md-6 offset-md-3 welcome-setting">
			<h1>Welcome</h1>
			<p class="welcome-setting-2"> We are Manufacturer, Supplier & Exporter of Himalayan Rock Salt Products </p>
			<p class="welcome-setting-3"> We feel delighted to announce our Malik Stone Services as the best manufacturer and exporter of Pink salt and the products made by them at moderate prices.</p>
			<p class="welcome-setting-3"> We founded Malik Stone Services out of pure affection. Since the day we have taken this initiative, we have become the masters of our own craft. We always try our best for the satisfaction of our customer. Feel free to contact us whether you are a importer, seller or a brand. We will assure you the best services. </p>
		</div>
	</div>
</div>
<!--Salt Products 6-->
<div class="container-fluid products " id="products">
	<div class="row" style="margin-top:15px">
		<div class="col-md-12 product-heading">
			<h1>
        We Create The Things, You Wish Existed
      </h1>
			<p>We have a unique variety of products made by the finest of the methods. Our all products are in their purest form preserving all the natural minerals in them and are 100% reliable , there is no alteration among their natural sustenance. The products which we offer are as follows :- </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md  product-setting-6">
			<a routerLink="/licksalt">
				<div class="img-hover-box"> <img src="../../assets/images/Home-page-products/lick-salt-product.jpeg" alt=""> </div>
				<h4>Lick Salt</h4>
				<p> We have the purest unprocessed salt licks with all natural minerals best for the animal growth. </p>
			</a>
		</div>
		<div class="col-md  product-setting-6">
			<a routerLink='/ediblesalt'>
				<div class="img-hover-box"> <img src="../../assets//images/Home-page-products/Edible-salt.jpg" alt=""> </div>
			<h4>
				Edible Salt
			</h4>
				<p> also known as table salt,we have the purest and finest quality containing more than 84 trace minerals.</p>
			</a>
		</div>
		<div class="col-md  product-setting-6">
			<a routerLink="/culnarysalt">
				<div class="img-hover-box"> <img src="../../assets/images/Home-page-products/culinary-style.png" alt=""> </div>
				<h4>
					Culinary Salt
				</h4>
				<p> They are best for healthy cooking containing all sufficient minerals of salts. </p>
			</a>
		</div>
	</div>
	<div class="row" style="border-top: 2px solid rgb(163, 160, 160);border-bottom: 2px solid rgb(163, 160, 160);">
		<div class="row">
			<div class="col-md  product-setting-6">
				<a routerLink="/saltlamps">
				<div class="img-hover-box"> <img src="../../assets/images//Home-page-products/salt-lamps-of-pink-himalayan-salt-RGDYN5Q.jpg" alt=""> </div>
				<h4>Salt Lamps</h4>
				<p> We have appealingly crafted lamps, which are good for the rooms atmosphere and purify the air. </p>
				</a>
			</div>
			<div class="col-md  product-setting-6">
				<a routerLink="/salttiles">
				<div class="img-hover-box"> <img src="../../assets/images/Home-page-products/pink-cooking-texture-salmon-salt-cook-epicurean-himalayan-salt-gourmet-cooking-salt-block-pink-salt_t20_7JW39y.jpg" alt=""> </div>
				<h4>
					Salt Tiles
				</h4>
				<p> we have the variety of gracefully crafted decors from pure salt, which will enhance the beauty of house) </p>
				</a>
			</div>
			<div class="col-md  product-setting-6">
				<a routerLink="/aromatherapy">
				<div class="img-hover-box"> <img src="../../assets/images/Home-page-products/aromatherapy.png" alt=""> </div>
				<h4>
					Aromatherapy
				</h4>
				<p> We have beautifully hand carved lamps, the warmth of which can gives you a comforting glow)\ </p>
				</a>
			</div>
		</div>
	</div>
	<!-- <div class="row justify-content-center " style="margin-top: 20px;">
      <div class="  col-md-4" style="margin-top: 60px;" >
       <h2 class="story-heading">Our Story</h2>
        <p class="welcome-setting-3">

        </p>
      </div>
      <div class=" col-md-4 video-setting"  style="padding: 0px 150px;" >
        <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>
    </div> --></div>
<!-- Why choose us?? 5-->
<div class="container features-5" style="height:auto">
	<h2>
        Your Ultimate Partner For
        Brands & Wholesale Businesses
      </h2>
	<div class="row justify-content-center ">
		<div class=" col-md-6 features-5" style="margin-top: 40px;">
			<!-- <img src="../../assets/images/home-page-image -of-salt.JPG" alt=""> -->
			<p class="why-choose-setting-5-heading"><span class="glyphicon glyphicon-time" style="padding-right: 20px;">  </span>Experts Presence</p>
			<p class="why-choose-setting-5-paragragh">We extract the best of salt from himalayan mountains ensuring the best methods of extracting. We have a whole team including the experts of this field, which ensures the purity of Salt and maintains the merit of our quality from extracting to carving products.</p>
		</div>
		<div class=" col-md-6 features-5">
			<p class="why-choose-setting-5-heading"><span class="glyphicon glyphicon-ok" style="padding-right: 20px;"></span>Quality Assurance</p>
			<p class="why-choose-setting-5-paragragh">Our absolute goal is to provide best services and best of our products to our clients. Our customers always endorse our quality and feel free to do business with us again. </p>
			<!-- <p class="why-choose-setting-5-heading"><span class="glyphicon glyphicon-time" style="padding-right: 20px;">  </span>Experts Presence</p> 
                      <p class="why-choose-setting-5-paragragh">We extract  the best of salt from himalayan mountains ensuring  the best methods of extracting. We have a whole team including the experts of this field, which ensures the purity of Salt and maintains the merit of our quality from extracting to carving products.</p> -->
			<p class="why-choose-setting-5-heading"><span class="glyphicon glyphicon-refresh" style="padding-right: 20px;"></span>Deliverance</p>
			<p class="why-choose-setting-5-paragragh">The last but not the least is our delivery services ,which assures the quickest and safest way of transferring product, as fast as possible.</p>
		</div>
	</div>
</div>
<!-- story 4 -->
<div class="container-fluid  story-setting">
	<div class="row">
		<div class="col-md-4  ">
			<h1 style="font-weight:bold; text-align:center">
                                              MANUFACTURER
                                            </h1>
			<h2 style=" text-align:center">
                                              We ‘ve been Serving Salt Industry since 1995
                                      
                                            </h2> </div>
		<div class="col-md-8 progress-bars ">
			<p>EXPORTING COUNTRIES</p>
			<div class="progress" style="margin-top:10px">
				<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">75%</div>
			</div>
			<p>SERVING CLIENTS</p>
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
			</div>
			<p>PRODUCTION CAPACITY PER DAY</p>
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-top: 20px;margin-bottom: 60px;">
	<div class="row">
		<div class="col-md-12 manufacturing-unit-1">
			<h1>Manufacturing Unit</h1>
			<!-- <p>GLN: 8967000000220</p> -->
		</div>
	</div>
	<div class="row ">
		<div class="col-md-3 factory-pics"> <img src="../../assets/images/manufacturing unit/factory-1.jpg" alt=""> </div>
		<div class="col-md-3 factory-pics"> <img src="../../assets/images/manufacturing unit//factory-3.JPG" alt=""> </div>
		<div class="col-md-3 factory-pics"> <img src="../../assets/images/manufacturing unit/factory-5.jpg" alt=""> </div>
		<div class="col-md-3 factory-pics"> <img src="../../assets/images/manufacturing unit/facroty-6.jpg" alt=""> </div>
		
	</div>
</div>