<!--- images container-->
<div class="container-fluid image-setting" style="padding: 0px"> 
	<div class="image-setting">
		<img src="../../assets/images/sub header images/twenty20-armotherapy.jpg" alt=""> 
	</div>
</div>
<!-- Descriptiop-->
<div class="container description-setting">
	<h1 class="color-class"> Aromatherapy</h1>
	<p>We are manufacturing the premium quality aromatherapy Pink salt lamps and oil burners for our clients, who have any sort of respiratory and skin disorders, During making of these products we assure to conserve the finest quality.</p>
	<p> Aromatherapy is a holistic healing treatment that uses natural plant extracts to promote health and well-being. Sometimes it's called essential oil therapy. Our Aromatherapy salt lamps and oil burner can be used to diffuse essential oil warmed by the light set inside. You can pore a few drops of your preferred essential oil onto a Pink salt lamp directly. The heat of the lamp will deftly diffuse the oil in the air acting as a salt air diffuser. These salt lamps will help you boosting your energy level and will elevate your mood with their warm glow. </p>
</div>
<!--- lick-qualities-->
<div class="container" style="margin-top: 30px">
	<div class="row">
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/armatherapy/inhaler1.png" alt="">
			<!-- <h1>SQUARE</h1>  
             <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>   --></div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/armatherapy/creams.png" alt="">
			<!-- <h1>CYLINDER</h1>  
            <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>   --></div>
		<div class=" col-md-3 quality-image-setting"> <img src="../../assets/images/armatherapy/inhaler2.png" alt="">
			<!-- <h1>CIRCLE</h1>  
            <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>   --></div>
	</div>
	<!-- <div class="row" style="margin-top:30px ;">
        <div class=" col-md-3 quality-image-setting" >
            <h1>SQUARE</h1>  
             <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>  
        </div>
        <div class=" col-md-3 quality-image-setting" >
            <h1>CYLINDER</h1>  
            <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>  
        </div>
        <div class=" col-md-3 quality-image-setting" >
            <h1>CIRCLE</h1>  
            <p>Weight (kg): 1.2 Size (cm): 10 x 11 Packing: 12 pcs</p>  
        </div>
     </div> --></div>
<!-- Table-->
<div class="container table-container">
	<table class="table ">
		<thead>
			<tr class="info">
				<th>Article No#</th>
				<th>Shapes</th>
				<th>Packing</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>AT-1-</th>
				<th>Classic Shape Inhaler</th>
				<th>12 Pcs</th>
			</tr>
			<tr>
				<th>AT-2-</th>
				<th>Salt Pipe Inhaler- Finger Grip Shape</th>
				<th>12 Pcs</th>
			</tr>
			<tr>
				<th>AT-3-</th>
				<th>Salt Pipe Inhaler- Small Shape</th>
				<th>12 Pcs</th>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-6">
			<h1 class="color-class">On Demand</h1>
			<ul class="demand-module">
				<li>Any shape and size can be produced on customer demand</li>
				<li>Private labels and Packing are available</li>
			</ul>
		</div>
	</div>
</div>