                                                        
                                                        <!--- images container-->

<div class="container-fluid image-setting" style="padding: 0px">
    <div class="image-setting">
        <img src="../../assets/images/halotherapy/halotherapy.jpeg" alt="">
    </div>
</div>

                                                            <!-- Descriptiop-->
<div class="container description-setting" >
    <h1 class="color-class">Halotherapy</h1>
    <p>Salt therapy, also known as “halotherapy & speleotherapy” is a modern variation of an old Eastern European treatment. For many years, individuals in Eastern Europe have recognized the benefits of spending time underground in natural salt caves.</p>
    <p>Salt therapy is the recreation of these environmental factors above ground, reducing the significant travel, costs and inconveniences associated with spending time in natural caves deep below ground. The first Halotherapy salt chambers opened in the 1960s in Eastern Europe. As Halotherapy grew more popular in the 1980s and 1990s, health and beauty resorts throughout Europe and Scandinavia began to install Salt-rooms and offer Halotherapy as one of their restorative treatments.
    </p>
    <p>Today, halotherapy rooms have been certified as medical devices and salt therapy has become a very popular and effective treatment for children with asthma, as it is non-invasive and 100% natural. As the negative ions coming from the salt purifies the air, it can also be used to cleanse the lungs by inhaling the pure air and also the most useful precautionary treatment during this pandemic crisis.
    </p>
</div>
    

                                                            <!-- Table-->
<div class="container table-container" >
    <div class="row">
		<div class="col-md-6">
			<h1 class="color-class">On Demand</h1>
			<ul class="demand-module">
				<li>Any shape and size can be produced on customer demand</li>
				<li>Private labels and Packing are available</li>
			</ul>
		</div>
	</div>
</div>




